.inputContainer {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    border-radius: 0.25rem;

    box-shadow: 0px 4px 12px hsl(0 0% 0% / 0.075);

    width: 35rem;

    position: relative;

    color: hsl(var(--clr-input));

    background-color: hsl(var(--clr-input-bg));
}

.input {
    width: 100%;
    font-weight: 300;
    padding: 1.75rem 4.25rem;

    font-size: 1.175rem;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: 1.75rem;
}
